{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "strict": [2, "global"],
    "no-use-before-define": true,
    "quotes": [2, "single"],
    "no-underscore-dangle": false
  }
}